
data_indices
test_*
train_*
tinyml_contest_data_training
.vs
.idea
__pycache__
x64
.layer_q_list
.sconsign.dblite
Debug
tmp.*
model/variables
model/assets
tinyml-contest-mcu/MDK-ARM/tinyml-contest-mcu.uvguix.majianjia
tmp.data-00000-of-00001
tmp.index
model/variables/variables.data-00000-of-00001
model/variables/variables.index
